logs/
data/
__pycache__/
tests/
mgn2024_urb_seccion
shp_crveredas_2024/
manex/
col-administrative-divisions-shapefiles/
mgn2024_urb_seccion/
shp_crveredas_2024/
.vscode/
col-administrative-divisions-emf/
